{
  "globals": {
    "Waypoint": true
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "rules": {
    "comma-dangle": 0,
    "linebreak-style": 0,
    "consistent-return": 0,
    "prettier/prettier": "error"
  }
}