.form {
  display: flex;
  flex-direction: column;
  max-width: 270px;
}

.formRow {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

.formLabel {
  flex: 1.1;
  padding-right: 10px;
}

.formInput {
  flex: 1;
}

.formSaveBtn {
  margin-left: auto;
}
